<section>
  <app-alert2 *ngIf="showAlert" (dismiss)="onDismissAlert()" distanceFromTop="25vh">
    <div class="center">
      <h1 class="alert-title">Registration successful!</h1>
      <p class="alert-msg">Congratulations! You've successfully registered for the next WhatsPool {{type.value}}. We
        hope you emerge a winner! Remember to set your alarm clock to <span>{{quizStartTime}}</span>. Goodluck!!!</p>
    </div>
  </app-alert2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <h1 class="form-title">WhatsPool Registration</h1>
    <div>
      <label for="firstName">First name</label>
      <input class="form-control" id="firstName" type="text" name="firstName" #firstName="ngModel"
        [ngModel]="user?.firstName" required>
      <span *ngIf="firstName.invalid && firstName.touched">First name is required.</span>
    </div>
    <div>
      <label for="lastName">Last name</label>
      <input class="form-control" id="lastName" type="text" name="lastName" #lastName="ngModel"
        [ngModel]="user?.lastName" required>
      <span *ngIf="lastName.invalid && lastName.touched">Last name is required.</span>
    </div>
    <div>
      <label for="email">E-Mail</label>
      <input class="form-control" id="email" type="email" name="email" #email="ngModel" [ngModel]="user?.email" required
        email>
      <span *ngIf="email.invalid && email.touched">Enter a valid E-Mail.</span>
    </div>
    <div>
      <label for="phone">Phone number</label>
      <input class="form-control" type="text" id="phone" name="phone" #phone="ngModel" [ngModel]="user?.phone"
        minlength="11" maxlength="11" required>
      <span *ngIf="phone.invalid && phone.touched">Phone number must be 11 digits.</span>
    </div>
    <div>
      <label for="type">WhatsPool Type</label>
      <select name="type" id="type" ngModel="Select Type" #type="ngModel" required>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
      <span *ngIf="(type.invalid || type.value === 'Select Type') && type.touched">Select either Gen, Music or
        Sports.</span>
    </div>
    <app-alert *ngIf="errMsg" title="Error!" [message]="errMsg" (dismiss)="onDismissAlert()"></app-alert>
    <p class="center">Registration fee of <strong>#100</strong> would be deducted from your account.</p>
    <button class="btn submit-btn px4" [disabled]="f.invalid || type.value === 'Select Type'">
      <app-spinner *ngIf="isLoading"></app-spinner> {{isLoading ? 'Registering you...' :
      'Register'}}
    </button>
  </form>
</section>