.form-title {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 2rem;
}

form {
  padding: 0 1rem;
}

span {
  display: block;
  font-size: 0.8rem;
  color: red;
}

input,
label,
span {
  width: 100%;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
  background: #f6c1c1;
}

@media (min-width: 40rem) {
  form {
    margin: auto;
    width: 25rem;
  }
}
