.main-header {
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: #303f9f;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  font-weight: bold;
  color: #303f9f;
  text-decoration: none;
  background-color: white;
  height: 2.7rem;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 30px;
  vertical-align: middle;
}

.main-header__brand > img {
  height: 100%;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item > a,
.mobile-nav-item > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0;
}

.mobile-nav-item > a {
  color: #757575;
  font-weight: normal;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  border-bottom: 3px solid white;
  border-radius: 3px;
}

.mobile-nav {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80%;
  z-index: 100;
  overflow-y: scroll;
}

.mobile-nav-items {
  height: 100%;
  list-style: none;
  margin: 0 1rem;
  padding: 0;
  text-align: left;
}

.mobile-nav .brand-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav .brand-name-part {
  font-size: 1.8rem;
  font-weight: bold;
}

.icon {
  color: #757575;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.brand-name i {
  font-size: 1.6rem;
}

.mobile-nav-item {
  margin: 1.8rem 0;
}

.mobile-nav-item > a {
  font-size: 1.3rem;
  width: 100%;
}

.mobile-nav .active {
  border-bottom: 3px solid #303f9f;
  font-weight: bold;
  border-radius: 4px;
}

@media (min-width: 40rem) {
  .main-nav {
    display: inline-block;
  }

  .toggle-button {
    display: none;
  }

  .active {
    border-bottom: 3px solid white;
    border-radius: 3px;
  }

  .call-to-action > a {
    border: 2px solid white;
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
  }

  .call-to-action > a:hover,
  .call-to-action > a:active {
    background: white;
    color: #303f9f;
  }
}
