<header class="main-header">
  <div>
    <button class="toggle-button" (click)="onOpenNav()">
      <span class="toggle-button-bar"></span>
      <span class="toggle-button-bar"></span>
      <span class="toggle-button-bar"></span>
    </button>
    <a class="main-header__brand" routerLink=""><img src="../../assets/images/WhatsPoolSVG.svg" alt="WhatsPool"></a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item"><a routerLink="" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li class="main-nav__item" *ngIf="isLoggedIn"><a routerLink="account" routerLinkActive="active">My Account</a>
      </li>
      <li class="main-nav__item call-to-action" *ngIf="isLoggedIn"><a routerLink="competition/check-status">Compete</a>
      </li>
      <li class="main-nav__item"><a routerLink="competition/winners">Winners</a>
      </li>
      <li class="main-nav__item"><a routerLink="about" routerLinkActive="active">About</a></li>
      <li class="main-nav__item"><a routerLink="contact-us" routerLinkActive="active">Contact Us</a></li>
      <li class="main-nav__item" *ngIf="isLoggedIn && isAdmin"><a routerLink="admin" routerLinkActive="active">Admin</a>
      </li>
      <li class="main-nav__item" *ngIf="!isLoggedIn"><a routerLink="user/login" routerLinkActive="active">Log in</a>
      </li>
      <li class="main-nav__item" *ngIf="!isLoggedIn"><a routerLink="user/signup" routerLinkActive="active">Signup</a>
      </li>
      <li class="main-nav__item" *ngIf="isLoggedIn"><a (click)="onLogout()">Log out</a></li>
    </ul>
  </nav>
</header>
<nav class="backdrop" *ngIf="openNav" (click)="onCloseNav()">
  <div class="mobile-nav">
    <ul class="mobile-nav-items">
      <li class="mobile-nav-item"><a><span class="accent-color brand-name">Whats</span><span
            class="brand-name dark-primary-color">Pool</span></a></li>
      <li class="mobile-nav-item"><img class="icon mr1" src="../../assets/icons/home.svg"><a routerLink=""
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onCloseNav()">Home</a></li>
      <li class="mobile-nav-item" *ngIf="isLoggedIn"><a routerLink="account" routerLinkActive="active"
          (click)="onCloseNav()">My
          Account</a></li>
      <li class="mobile-nav-item call-to-action" *ngIf="isLoggedIn"><a routerLink="competition/check-status"
          (click)="onCloseNav()">Compete</a>
      </li>
      <li class="mobile-nav-item"><img class="icon mr1" src="../../assets/icons/trophy.svg"><a
          routerLink="competition/winners" (click)="onCloseNav()">Winners</a>
      </li>
      <li class="mobile-nav-item"><img class="icon mr1" src="../../assets/icons/info-circle.svg"><a routerLink="about"
          routerLinkActive="active" (click)="onCloseNav()">About</a>
      </li>
      <li class="mobile-nav-item"><img class="icon mr1" src="../../assets/icons/envelope.svg"><a routerLink="contact-us"
          routerLinkActive="active" (click)="onCloseNav()">Contact
          Us</a></li>
      <li class="mobile-nav-item" *ngIf="isLoggedIn && isAdmin"><a routerLink="admin" routerLinkActive="active"
          (click)="onCloseNav()">Admin</a></li>
      <li class="mobile-nav-item" *ngIf="!isLoggedIn"><img class="icon mr1" src="../../assets/icons/sign-in.svg"><a
          routerLink="user/login" routerLinkActive="active" (click)="onCloseNav()">Log in</a></li>
      <li class="mobile-nav-item" *ngIf="!isLoggedIn"><img class="icon mr1" src="../../assets/icons/user-plus.svg"><a
          routerLink="user/signup" routerLinkActive="active" (click)="onCloseNav()">Signup</a>
      </li>
      <li class="mobile-nav-item" *ngIf="isLoggedIn"><a (click)="onLogout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>