.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.main-footer__links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-footer__link {
  margin: 0 1rem;
}

.main-footer__link a {
  text-decoration: none;
  color: #fff;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.copyrights {
  font-size: 0.9rem;
}