<div class="center" *ngIf="isLoading" style="padding-top: 5rem">
  <app-in-page-spinner></app-in-page-spinner>
  <h2 class="pt5">Loading competitors...</h2>
</div>
<section class="center">
  <h3>Competitors Count:</h3>
  <h1>{{competitorsCount}}</h1>
  <h3 class="delete-info">Click the button below to delete all competitors.</h3>
  <h3 *ngIf="successMsg" class="mt2">{{successMsg}}</h3>
  <h3 *ngIf="errMsg" class="mt2">{{errMsg}}</h3>
  <button class="btn delete-btn mt2" (click)="onDeleteCompetitors()" [disabled]="isLoading">
    <app-spinner *ngIf="isLoading"></app-spinner>{{isLoading ? 'Deleting...' : 'Delete'}}
  </button>
</section>