<div class="center mx4" *ngIf="!hasStarted">
  <img class="half-hourglass-icon" src="../../../assets/icons/hourglass-half.svg">
  <h3 class="mt1 secondary-text">WhatsPool has begun, click the button below to start. Goodluck!!!</h3>
  <button class="btn start-btn mt5" (click)="onStartQuiz()">Start</button>
</div>
<div class="center" *ngIf="isLoading" style="padding-top: 5rem">
  <app-in-page-spinner></app-in-page-spinner>
  <h2 class="pt5">Loading...</h2>
</div>
<section *ngIf="!isLoading && hasStarted">
  <div class="remaining-time">
    <h1>{{getRemainingTime().minutes}}</h1> <span class="separator mx3">:</span>
    <h1>{{getRemainingTime().seconds}}</h1>
  </div>
  <div>
    <div class="question mt5">
      <h2>Question {{question.no}}</h2>
      <p>{{question.que}}</p>
    </div>
    <div>
      <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <label for="optA"><input id="optA" type="radio" value="A" name="answer" ngModel
            required>{{question.optA}}</label>
        <label for="optB"><input id="optB" type="radio" value="B" name="answer" ngModel
            required>{{question.optB}}</label>
        <label for="optC"><input id="optC" type="radio" value="C" name="answer" ngModel
            required>{{question.optC}}</label>
        <label for="optD"><input id="optD" type="radio" value="D" name="answer" ngModel
            required>{{question.optD}}</label>
        <label for="optE"><input id="optE" type="radio" value="E" name="answer" ngModel
            required>{{question.optE}}</label>
        <button class="submit-btn btn my4" (click)="onSubmit(f.value)" [disabled]="isSubmitting || f.invalid">
          <app-spinner *ngIf="isSubmitting"></app-spinner> {{getSubmitBtnText()}}
        </button>
      </form>
    </div>
  </div>
</section>