header {
  padding: 2rem 0;
  background: #303f9f;
  width: 100%;
  color: white;
}

.caution-text {
  line-height: 1.1;
  font-size: 1.3rem;
}

form {
  padding: 1rem;
}

span {
  display: block;
  font-size: 0.8rem;
  color: red;
}

input,
label,
textarea,
span {
  width: 100%;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid red;
  background: #f6c1c1;
}

button:disabled {
  color: #a1a1a1;
  background-color: #ccc;
  border-color: #a1a1a1;
  cursor: not-allowed;
}

@media (min-width: 40rem) {
  form {
    margin: auto;
    width: 25rem;
  }
}
