<section>
  <app-alert *ngIf="showAlert" title="Message Sent!" message="Thank you for your message, we will attend to it soonest."
    (dismiss)="onDismissAlert(f)"></app-alert>
  <header *ngIf="!isLoading" class="center">
    <h2 class="px3">We Would Love To Hear From You</h2>
  </header>
  <p class="caution-text center px3">Let us know how WhatsPool can be made better. Thank you!
  </p>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <label for="firstName">First name</label>
      <input id="firstName" type="text" name="firstName" #firstName="ngModel" [ngModel]="user?.firstName" required>
      <span *ngIf="firstName.invalid && firstName.touched">First name is required.</span>
    </div>
    <div>
      <label for="lastName">Last name</label>
      <input id="lastName" type="text" name="lastName" #lastName="ngModel" [ngModel]="user?.lastName" required>
      <span *ngIf="lastName.invalid && lastName.touched">Last name is required.</span>
    </div>
    <div>
      <label for="email">E-Mail</label>
      <input id="email" type="email" name="email" #email="ngModel" [ngModel]="user?.email" required email>
      <span *ngIf="email.invalid && email.touched">Enter a valid E-Mail.</span>
    </div>
    <div>
      <label for="phone">Phone number</label>
      <input type="text" id="phone" name="phone" #phone="ngModel" [ngModel]="user?.phone" minlength="11" maxlength="11"
        required>
      <span *ngIf="phone.invalid && phone.touched">Phone number must be 11 digits.</span>
    </div>
    <div>
      <label for="message">Your message</label>
      <textarea id="message" type="text" rows="10" name="message" #message="ngModel" ngModel required></textarea>
      <span *ngIf="message.invalid && message.touched">Message is required.</span>
    </div>
    <div class="err-msg-container" *ngIf="errMsg">
      <h4>Error!</h4>
      <p>{{errMsg}}</p>
      <button class="btn err-btn" type="button" (click)="errMsg = ''">Okay</button>
    </div>
    <button class="btn send-btn px4" [disabled]="f.invalid">
      <app-spinner *ngIf="isLoading"></app-spinner> {{isLoading ? 'Sending...' :
      'Send'}}
    </button>
  </form>
</section>