<section>
  <div class="center">
    <h2>The following checks would be done:</h2>
    <ul>
      <li>1. If you're registered.</li>
      <li>2. If it's time for WhatsPool.</li>
      <li>3. If WhatsPool has ended.</li>
    </ul>
    <p class="py2"><strong>You would be redirected to the appropriate page, based on the result.</strong></p>
  </div>
  <form (ngSubmit)="onCheckCompetitionStatus(f)" #f="ngForm">
    <div>
      <label for="type">WhatsPool Type</label>
      <select name="type" id="type" [ngModel]="'Select Type'" #type="ngModel" required>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
      <span *ngIf="(type.invalid || type.value === 'Select Type') && type.touched">Select either Gen, Music or
        Sports.</span>
    </div>
    <button class="btn check-status-btn mt1" [disabled]="type.value === 'Select Type'">
      <app-spinner *ngIf="isLoading"></app-spinner> {{isLoading ? 'Checking...' : 'Check Competition Status'}}
    </button>
  </form>
</section>