<section class="p4">
  <h1>What is WhatsPool?</h1>
  <p>
    WhatsPool is an online platform that allows people answer
    questions and win cash prizes for answering correctly and <strong>quickly</strong>. It holds everyday. More info on
    the time below.
  </p>
  <p>Ten (10) questions to be answered in 10 minutes, with {{noOfWinnersSpeltOut}} ({{noOfWinners}}) persons having
    the chance to
    emerge as winners.</p>
  <p>
    WhatsPool is all about <strong>FASTEST FINGERS</strong>, its all about <strong>SPEED</strong>. The
    questions are on the things you know and love (Music, Football and more...), they're general, so everyone has
    an equal chance of winning. There are usually {{noOfWinnersSpeltOut}} ({{noOfWinners}}) winners from
    each of the competitions.
    <strong>
      You qualify to be a winner if you're among the first {{noOfWinnersSpeltOut}} ({{noOfWinners}})
      persons to answer all the questions correctly (i.e. scoring 10).
    </strong>
  </p>
  <p>You may have a score of 10, just as other competitors, but only if you submit on time (i.e. be among the first
    {{noOfWinnersSpeltOut}}
    persons to score 10), would the system count you as a winner. So, it's really all about speed.</p>
  <table>
    <tr>
      <th>#</th>
      <th>Placement</th>
    </tr>
    <tr>
      <td>1</td>
      <td>First Place</td>
    </tr>
    <tr>
      <td>2 - 4</td>
      <td>Second Place</td>
    </tr>
    <tr>
      <td>5 - 10</td>
      <td>Third Place</td>
    </tr>
  </table>
  <br>
  <h2>Prizes</h2>
  <table>
    <tr>
      <th>Placement</th>
      <th>prize</th>
    </tr>
    <tr>
      <td>First Place (1 Winner)</td>
      <td>#5,000</td>
    </tr>
    <tr>
      <td>Second Place (3 Winners)</td>
      <td>#3,000</td>
    </tr>
    <tr>
      <td>Third Place (6 Winners)</td>
      <td>#1,000</td>
    </tr>
  </table>
  <br />
  <h2>How do I participate?</h2>
  <p>To participate, follow these steps:</p>
  <p>
    Ensure you have up to #100 in your main balance or as referral
    bonus, it is the required WhatsPool participation fee. You can find out your balance in the <strong>Account</strong>
    page.
  </p>
  <h2>Step 1</h2>
  <p>
    On the <strong>Home</strong> page, or in the navigation menu, click
    on "Compete".
  </p>
  <h2>Step 2</h2>
  <p>
    Next, a page would be shown for you to check your registration status. On that page, select the WhatsPool type (Gen,
    Music or Sports) you want to particpate in, then click on the button and you would be taken to the
    appropriate
    page,
    based on the result.
  </p>
  <p>While registering, ensure you verify your personal information. Ensure it is current
    and correct, especially
    your <strong>phone number</strong> & <strong>E-Mail</strong>, as they are what would be used
    in contacting you, should you emerge a winner.</p>
  <h2>Step 3</h2>
  <p>
    After confirming your info. Click on the "Register" button, and you
    would be registered as a competitor for the next WhatsPool Gen, Music or Sports (i.e. Football). You can register in
    more than
    one, if you choose to, since they don't occur at the same time.
  </p>

  <h2>Step 4</h2>
  <p>Once it's time:</p>
  <table>
    <tr>
      <th>Type</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>WhatsPool Music</td>
      <td>{{whatsPoolMusicStartTime}} - {{whatsPoolMusicEndTime}}</td>
    </tr>
    <tr>
      <td>WhatsPool Sports</td>
      <td>{{whatsPoolSportsStartTime}} - {{whatsPoolSportsEndTime}}</td>
    </tr>
    <tr>
      <td>WhatsPool Gen</td>
      <td>{{whatsPoolGenStartTime}} - {{whatsPoolGenEndTime}}</td>
    </tr>
  </table>
  <p>in the <strong>Home</strong> page or in the <strong>navigation
      menu</strong>, click on
    "Compete" and you
    would be directed to the page where you can answer the questions and stand a chance of being a winner.</p>
  <p>
    <strong>
      Should you emerge a winner, your name would be shown in the
      winners table in the <strong>Winners</strong> page. Which you
      can check immediately after each game. Yes!
      that's how fast the system determines the winners, WhatsPool is transparent in its selection of winners. So, you
      have no
      reason to ever doubt its integrity. You can also check your wins in the <strong>Account</strong> page, in the
      "Your Wins" section.
    </strong>
  </p>
  <p>
    <strong>
      You would receive an E-Mail, from the WhatsPool team, with steps on how to claim your prize. Your prize money is
      sent to any Nigerian bank acount of your
      choice.
    </strong>
  </p>
  <h2>Recommendations</h2>
  <ul>
    <li>
      We recommend that you have a strong and stable internet
      connection, when participating in WhatsPool, since your chance
      of being a winner, greatly hinges on how fast, you're able to
      fetch and answer the questions.
    </li>
    <li>
      On login, each user has a one (1) hour login session, before
      they're logged out automatically by the system. This is a
      security measure, to prevent an unauthorized user from accessing
      your account while you're away from your device.
      <p>
        So, in order to avoid being logged out while the game is on,
        ensure you log in few minutes to the game time.
        This would give you enough time to participate in the game,
        without being automatically logged out by the system after one
        (1) hour.
      </p>
      <p>
        The above stated scenario is different from the scenario where
        the game time is up, while a participant hasn't finished. Once
        the game time (10 minutes) is up, a participant would be
        unable to provide further answers and the game ends
        automatically.
      </p>
    </li>
  </ul>
  <h2 class="center">
    **********
  </h2>
  <h2>
    Wishing you the best, from the <strong>WhatsPool</strong> team.
  </h2>
  <h2 class="center">
    **********
  </h2>
</section>