section {
  padding: 1rem;
}

.winners-count {
  display: inline-block;
}

.delete-btn {
  width: 80%;
}

.form-title {
  padding-top: 1rem;
  text-align: center;
  color: #3f51b5;
}

form {
  padding: 0 1.5rem;
}

input,
select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  background: #dadbe4;
  border-color: #3f51b5;
}

span {
  display: block;
  font-size: 0.8rem;
  color: red;
}

input,
select,
label,
span {
  width: 100%;
  margin-bottom: 0.5rem;
  font: inherit;
}

label {
  font-weight: bold;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border: 1px solid red;
  background: #f6c1c1;
}

@media (min-width: 40rem) {
  section {
    width: 40%;
    margin: auto;
  }

  form {
    margin: auto;
    width: 25rem;
  }
}
