<div *ngIf="showForm" class="backdrop center">
  <div class="alert" style="top: 20vh">
    <form (ngSubmit)="onDelete(f, type.value)" #f="ngForm">
      <h3 *ngIf="successMsg" class="mt1">{{successMsg}}</h3>
      <h3 *ngIf="errMsg" class="mt1">{{errMsg}}</h3>
      <p>Type <strong>Delete</strong> to delete all winners</p>
      <div>
        <input class="form-control" type="text" name="confirmDelete" #confirmDelete="ngModel" ngModel required>
      </div>
      <div>
        <label for="type">WhatsPool Type</label>
        <select name="type" id="type" ngModel="Select Type" #type="ngModel" required>
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
        <span *ngIf="(type.invalid || type.value === 'Select Type') && type.touched">Select either Gen, Music or
          Sports.</span>
      </div>
      <div class="mt2">
        <button class="btn btn-danger px4 mr4" type="submit"
          [disabled]="confirmDelete.value !== 'Delete' || type.value === 'Select Type'">
          <app-spinner *ngIf="deleting"></app-spinner>{{deleting ? 'Deleting...' : 'Delete'}}
        </button>
        <button class="btn px4" (click)="onDismiss()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<section>
  <div class="center">
    <h2>Winners Count:</h2>
    <h3 class="winners-count">Gen: {{winnersCount.genWinnersCount}}</h3>
    <h3 class="winners-count mx1">Music: {{winnersCount.musicWinnersCount}}</h3>
    <h3 class="winners-count">Sports: {{winnersCount.sportsWinnersCount}}</h3>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <h1 class="form-title">Add a Winner</h1>
    <div>
      <label for="firstName">First name</label>
      <input id="firstName" type="firstName" name="firstName" #firstName="ngModel" ngModel required minlength="2">
      <span *ngIf="firstName.invalid && firstName.touched">Enter a valid first name.</span>
    </div>
    <div>
      <label for="lastName">Last name</label>
      <input id="lastName" type="lastName" name="lastName" #lastName="ngModel" ngModel required minlength="2">
      <span *ngIf="lastName.invalid && lastName.touched">Enter a valid last name.</span>
    </div>
    <div>
      <label for="type">WhatsPool Type</label>
      <select name="type" id="type" ngModel="Select Type" #type="ngModel" required>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
      <span *ngIf="(type.invalid || type.value === 'Select Type') && type.touched">Select either Gen, Music or
        Sports.</span>
    </div>
    <button class="btn submit-btn" [disabled]="f.invalid || adding">
      <app-spinner *ngIf="adding"></app-spinner> {{adding ? 'Adding...' :
      'Add'}}
    </button>
  </form>
</section>
<section>
  <app-alert *ngIf="showAlert" title="Success!" [message]="successMsg || errMsg" (dismiss)="onSuccessfulToggle()">
  </app-alert>
  <form (ngSubmit)="onToggleShowWinners(toggleWinnersForm)" #toggleWinnersForm="ngForm">
    <h1 class="form-title">Toggle Show Winners</h1>
    <div>
      <label for="showWinners">Show or Hide Winners</label>
      <select name="showWinners" id="showWinners" ngModel required>
        <option value="">Select Status</option>
        <option value="show">Show</option>
        <option value="hide">Hide</option>
      </select>
    </div>
    <div>
      <label for="type">WhatsPool Type</label>
      <select name="type" id="type" ngModel="Select Type" #type="ngModel" required>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
      <span *ngIf="(type.invalid || type.value === 'Select Type') && type.touched">Select either Gen, Music or
        Sports.</span>
    </div>
    <button class="btn submit-btn" [disabled]="toggleWinnersForm.invalid || toggling">
      <app-spinner *ngIf="toggling"></app-spinner>{{toggling ? 'Toggling...' :
      'Toggle'}}
    </button>
  </form>
</section>
<section class="center pt4">
  <div class="center pt4" *ngIf="deleting">
    <app-in-page-spinner></app-in-page-spinner>
    <h2 class="pt4">Deleting winners...</h2>
  </div>
  <h3>Click the button below to delete all winners.</h3>
  <button class="btn delete-btn" (click)="showForm = true;" [disabled]="deleting">Delete</button>
</section>