<section class="container mt5">
  <h1 class="dark-primary-color">Fund Your WhatsPool Account</h1>
  <button class="btn">Proceed</button>
  <p class="implore-text">Please read the information below</p>
  <hr>
  <p>To facilicate easy and quick funding of user accounts. WhatsPool makes use of an online payment gateway (Paystack).
    Paystack is a trusted online payment service provider. It's used by thousands of businesses in Nigeria, Africa and
    beyound.</p>
  <img
    src="https://scontent.flos1-1.fna.fbcdn.net/v/t1.6435-9/187962641_2142249942584161_6578651305350323034_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeEOaNA3xIcTttJV2YE0_h66fwldyphw5TN_CV3KmHDlM4Epqv19w61mhs4BmA7BqBcd7kItW_46-NruqSTXEax3&_nc_ohc=vzoItWuZLzcAX9XUqci&_nc_ht=scontent.flos1-1.fna&oh=4617c58f69b0ea5e6cfc0fc50a1aea7d&oe=60CB11D0"
    alt="WhatsPool accepts payments through Paystack">
  <p>Follow these steps to fund your WhatsPool account:</p>
  <h2>Step 1</h2>
  <p>Click on the <strong>Proceed</strong> button above</p>
  <h2>Step 2</h2>
  <p>After clicking on the button, you get a popup, where you're to enter the amount you wish to fund your account with.
    Enter the amount and click on <strong>Continue</strong></p>
</section>