<section>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h1 class="form-title">Add Question</h1>
    <div>
      <label for="question">Question Text</label>
      <textarea id="question" type="text" rows="5" name="que" #question="ngModel" ngModel required></textarea>
      <span *ngIf="question.invalid && question.touched">Question is required.</span>
    </div>
    <div>
      <label for="option-a">Option A</label>
      <input id="option-a" type="text" name="optA" #optionA="ngModel" ngModel required>
      <span *ngIf="optionA.invalid && optionA.touched">Option A is required.</span>
    </div>
    <div>
      <label for="option-b">Option B</label>
      <input id="option-b" type="text" name="optB" #optionB="ngModel" ngModel required>
      <span *ngIf="optionB.invalid && optionB.touched">Option B is required.</span>
    </div>
    <div>
      <label for="option-c">Option C</label>
      <input id="option-c" type="text" name="optC" #optionC="ngModel" ngModel required>
      <span *ngIf="optionC.invalid && optionC.touched">Option C is required.</span>
    </div>
    <div>
      <label for="option-d">Option D</label>
      <input id="option-d" type="text" name="optD" #optionD="ngModel" ngModel required>
      <span *ngIf="optionD.invalid && optionD.touched">Option D is required.</span>
    </div>
    <div>
      <label for="option-e">Option E</label>
      <input id="option-e" type="text" name="optE" #optionE="ngModel" ngModel required>
      <span *ngIf="optionE.invalid && optionE.touched">Option E is required.</span>
    </div>
    <div>
      <label for="answer">Answer</label>
      <input id="answer" type="text" name="ans" #answer="ngModel" ngModel required maxlength="1" pattern="[A-E]">
      <span *ngIf="answer.invalid && answer.touched">Answer is required and should be either A, B, C, D, or E.</span>
    </div>
    <div>
      <label for="explanation">Explanation</label>
      <textarea id="explanation" type="text" rows="5" name="expl" #explanation="ngModel" ngModel></textarea>
    </div>
    <div>
      <label for="answer">Question number</label>
      <input id="answer" type="number" name="no" #questionNumber="ngModel" [ngModel]="nextQuestionNo" required
        pattern="^[1-9]+[0-9]*$" readonly>
      <span *ngIf="questionNumber.invalid && questionNumber.touched">Question number is required.</span>
    </div>
    <div>
      <label for="subject">Subject</label>
      <select name="subj" id="subject" ngModel required>
        <option *ngFor="let subj of subjects" [value]="subj">{{subj}}</option>
      </select>
    </div>
    <app-alert *ngIf="errMsg" title="Error!" [message]="errMsg" (dismiss)="onDismissAlert(f)"></app-alert>
    <app-alert2 *ngIf="questionInfo" (dismiss)="onDismissAlert(f)">
      <h2 class="center">Success!</h2>
      <hr>
      <p><strong>Question No:</strong> {{questionInfo.no}}</p>
      <p><strong>Question Text:</strong> {{questionInfo.que}}</p>
    </app-alert2>
    <button class="btn submit-btn" type="submit" [disabled]="f.invalid">
      <app-spinner *ngIf="isLoading"></app-spinner> {{isLoading ? 'Adding Question...' : 'Add Question'}}
    </button>
  </form>
</section>