<section class="p4">
  <h2>Step 1</h2>
  <p>
    Go to the <strong>Account</strong> page and get your referral
    link by clicking on the "Copy Referral Link" button.
  </p>
  <h2>Step 2</h2>
  <p>
    Share the link along with an explanatory message. You can do
    this via the following ways:
  </p>
  <ul>
    <li>
      Share your referral link on your social networks. E.g
      WhatsApp, Facebook, etc.
    </li>
    <li>
      Send an SMS to your contacts with your referral link.
    </li>
    <li>Send an email to your contacts with your referral link.</li>
  </ul>
  <p>
    With that done, your friend clicks on your referral link, then signs up. The system links them to you as the
    referrer.
  </p>
  <p><strong>
      You get a #25 bonus for each referree. This money would
      accumulate and could be used in participating in WhatsPool.
    </strong></p>
</section>