.alert {
  position: fixed;
  z-index: 100;
  width: 90vw;
  top: 20%;
  left: 5vw;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.alert-title {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 40rem) {
  .alert {
    width: 60vw;
    left: 20vw;
    overflow-y: hidden;
  }
}
