<section>
  <app-alert *ngIf="showAlert" [title]="successMsg ? 'Success!' : 'Error!'" [message]="successMsg || errMsg" (dismiss)="onDismiss()">
  </app-alert>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <h2 class="center py4">Set Next Quiz Time</h2>
    <div>
      <label for="date">Date</label>
      <input class="form-control" type="date" id="date" name="date" ngModel required>
    </div>
    <div>
      <label for="time">Time</label>
      <input class="form-control" type="time" name="time" id="time" ngModel required>
    </div>
    <div class="err-msg-container" *ngIf="errMsg">
      <h4>Error!</h4>
      <p>{{errMsg}}</p>
      <button class="btn err-btn" type="button" (click)="errMsg = ''">Okay</button>
    </div>
    <span *ngIf="f.invalid && f.touched">All values must set.</span>
    <p class="center"><strong>Note:</strong> Time should be 1 hr less than the actual time.</p>
    <button class="btn submit-btn" [disabled]="loading || f.invalid" type="submit">
      <app-spinner *ngIf="loading"></app-spinner> {{loading ? 'Setting...' : 'Set Quiz Date'}}
    </button>
  </form>
</section>