<div *ngIf="isLoading" style="padding-top: 5rem">
  <app-in-page-spinner></app-in-page-spinner>
  <h2 class="center pt5">Loading winners...</h2>
</div>
<header *ngIf="!isLoading" class="center">
  <h2 class="px3">{{getQuizDate()}}</h2>
</header>
<section *ngIf="!isLoading">
  <div>
    <h2 class="center" *ngIf="firstPlaceWinners.length === 0">No 1st Place Winners</h2>
    <table *ngIf="firstPlaceWinners.length !== 0">
      <caption>1st Place Winners (1 - 2)</caption>
      <caption>Prize: #3,000</caption>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      <tr *ngFor="let firstPW of firstPlaceWinners; let i1 = index">
        <td>{{i1 + 1}}</td>
        <td>{{firstPW.firstName}}</td>
        <td>{{firstPW.lastName}}</td>
      </tr>
    </table>
  </div>
  <div>
    <h2 class="center" *ngIf="secondPlaceWinners.length === 0">No 2nd Place Winners</h2>
    <table *ngIf="secondPlaceWinners.length !== 0">
      <caption>2nd Place Winners (3 - 5)</caption>
      <caption>Prize: #2,000</caption>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      <tr *ngFor="let secondPW of secondPlaceWinners; let i2 = index">
        <td>{{i2 + 1}}</td>
        <td>{{secondPW.firstName}}</td>
        <td>{{secondPW.lastName}}</td>
      </tr>
    </table>
  </div>
  <div>
    <h2 class="center" *ngIf="thirdPlaceWinners.length === 0">No 3rd Place Winners</h2>
    <table *ngIf="thirdPlaceWinners.length !== 0">
      <caption>3rd Place Winners (6 - 10)</caption>
      <caption>Prize: #1,000</caption>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      <tr *ngFor="let thirdPW of thirdPlaceWinners; let i3 = index">
        <td>{{i3 + 1}}</td>
        <td>{{thirdPW.firstName}}</td>
        <td>{{thirdPW.lastName}}</td>
      </tr>
    </table>
  </div>
</section>