section {
  padding: 2rem 1rem;
}

.score-text {
  font-size: 2rem;
}

.questions-answers-link {
  color: #ff5722;
  font-weight: bold;
}

ul {
  text-align: start;
  margin: 0;
}

li {
  font-size: 1.2rem;
  margin: 0.3rem 0;
}

button {
  width: 80%;
}

@media (min-width: 40rem) {
  section,
  button {
    width: 25rem;
    margin: 2rem auto;
  }
}
