<section class="center">
  <div>
    <h2>Congratulations! You've reached the end.</h2>
    <h3>Here's your score:</h3>
    <h1 class="score-text">{{score}}</h1>
    <h3>Please read through the following:</h3>
  </div>
  <ul>
    <li>
      Head over to the <strong>Winners</strong> page at {{endTime}} to
      view all the winners. To easily know your win status, check the Statistics section in the Account page.
    </li>
    <li>
      You must be among the first <strong>{{numberOfWinnersSpeltOut}} ({{numberOfWinners}})</strong> to have
      answered all questions correctly, to qualify as a winner.
    </li>
    <li>
      If you're a winner, claim your prize by sending a picture of
      yourself and your bank details:
      <ol>
        <li>Bank Name</li>
        <li>Account Name</li>
        <li>Account Number</li>
        <li>Account Type (Savings or Current)</li>
      </ol>
      To the WhatsPool team via E-Mail: whatspoolgame@gmail.com
    </li>
  </ul>
  <div>
    <button class="btn my4" routerLink=''>
      Okay
    </button>
  </div>
</section>