.form-title {
  text-align: center;
  color: #3f51b5;
}

form {
  padding: 1rem;
}

span {
  display: block;
  font-size: 0.8rem;
  color: red;
}

input,
label,
span {
  width: 100%;
  margin-bottom: 0.5rem;
}

label,
a {
  font-weight: bold;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
  background: #f6c1c1;
}

.agree-terms-container {
  margin-top: 1rem;
}

a {
  color: #3f51b5;
}

a:active,
a:hover {
  color: white;
  background: #3f51b5;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  appearance: none;
}

input[type="checkbox"]:checked {
  background: #3f51b5;
}

span[for="agree-terms"] {
  color: #212121;
}

input[id="agree-terms"],
span[for="agree-terms"] {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

@media (min-width: 40rem) {
  form {
    margin: auto;
    width: 25rem;
  }
}
