<div class="card">
  <div class="center">
    <button class="btn mr3 my2">Fund Account</button>
    <button class="btn" (click)="copyRefLinkToClipboard(refLinkInput)">{{isLinkCopied ? 'Ref Link Copied' : 'Copy Referral
      Link'}}</button>
      <input type="text" [value]="getRefLink()" readonly #refLinkInput>
  </div>
  <hr class="card-title-divider">
  <div>
    <p><span>Name:</span> {{user?.firstName + ' ' + user?.lastName}}</p>
    <p><span>Phone:</span> {{user?.phone}}</p>
    <p><span>Balance:</span> #{{user?.balance}}.0</p>
    <p><span>Referal Bonus:</span> #{{user?.referralBonus}}.0</p>
    <p><span>E-Mail:</span> {{user?.email}}</p>
  </div>
</div>