* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 3.7rem - 8rem);
  margin-top: 3.7rem;
}

a {
  cursor: pointer;
}

label {
  display: block;
}

/* ***** UTILITIES ***** */
.container {
  max-width: 68rem;
  margin: auto;
  overflow: auto;
  padding: 0 1.2rem;
}

.alert {
  position: fixed;
  z-index: 100;
  width: 90vw;
  max-height: 80vh;
  top: 10vh;
  left: 5vw;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  overflow-y: scroll;
}

.alert-title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.alert-msg {
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .alert {
    width: 40vw;
    left: 30vw;
    overflow-y: scroll;
  }
}

.backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.btn {
  font: inherit;
  outline: none;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  background: #ff5722;
  border: 1px solid #ff5722;
  color: white;
}

.btn:hover,
.btn:active {
  background: rgba(255, 87, 34, 0.8);
  border: 1px solid rgba(255, 87, 34, 0.8);
}

.btn:disabled {
  color: #a1a1a1;
  background-color: #ccc;
  border-color: #a1a1a1;
  cursor: not-allowed;
}

.btn-danger {
  background: #fd4848;
}

.btn-shadow {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  margin-top: 1.5rem;
  width: 100%;
}

.card {
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  vertical-align: top;
}

.card-title-divider {
  background: #303f9f;
  height: 3px;
}

.card-body {
  overflow-y: scroll;
  height: 300px;
  max-height: 300px;
}

@media (min-width: 40rem) {
  .card {
    width: 45%;
  }
}

.form-control {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
}

.form-control:focus {
  outline: none;
  background: #dadbe4;
  border-color: #3f51b5;
}

/* ***** PADDING ***** */
.p1 {
  padding: 4px;
}

.p2 {
  padding: 8px;
}

.p3 {
  padding: 12px;
}

.p4 {
  padding: 1rem;
}

.p5 {
  padding: 2rem;
}

/* ***** PADDING LEFT ***** */
.pl1 {
  padding-left: 4px;
}

.pl2 {
  padding-left: 8px;
}

.pl3 {
  padding-left: 12px;
}

.pl4 {
  padding-left: 1rem;
}

.pl5 {
  padding-left: 2rem;
}

/* ***** PADDING RIGHT ***** */
.pr1 {
  padding-right: 4px;
}

.pr2 {
  padding-right: 8px;
}

.pr3 {
  padding-right: 12px;
}

.pr4 {
  padding-right: 16px;
}

/* ***** PADDING TOP ***** */
.pt1 {
  padding-top: 4px;
}

.pt2 {
  padding-top: 8px;
}

.pt3 {
  padding-top: 12px;
}

.pt4 {
  padding-top: 1rem;
}

.pt5 {
  padding-top: 2rem;
}

/* ***** PADDING BOTTOM ***** */
.pb1 {
  padding-bottom: 4px;
}

.pb2 {
  padding-bottom: 8px;
}

.pb3 {
  padding-bottom: 12px;
}

.pb4 {
  padding-bottom: 16px;
}

/* ***** PADDING TOP AND BOTTOM ***** */
.py1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* ***** PADDING LEFT AND RIGHT ***** */
.px1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ***** MARGIN ***** */

.m1 {
  margin: 0.2rem;
}

.m2 {
  margin: 0.5rem;
}

.m3 {
  margin: 0.7rem;
}

.m4 {
  margin: 1rem;
}

.m5 {
  margin: 2rem;
}

/* ***** MARGIN LEFT ***** */
.ml1 {
  margin-left: 4px;
}

.ml2 {
  margin-left: 8px;
}

.ml3 {
  margin-left: 12px;
}

.ml4 {
  margin-left: 16px;
}

/* ***** MARGIN RIGHT ***** */
.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr3 {
  margin-right: 3rem;
}

.mr4 {
  margin-right: 1rem;
}

.mr5 {
  margin-right: 2rem;
}

/* ***** MARGIN TOP ***** */
.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

/* ***** MARGIN BOTTOM ***** */
.mb1 {
  margin-bottom: 4px;
}

.mb2 {
  margin-bottom: 8px;
}

.mb3 {
  margin-bottom: 12px;
}

.mb4 {
  margin-bottom: 1rem;
}

.mb5 {
  margin-bottom: 2rem;
}

/* ***** MARGIN TOP AND BOTTOM ***** */
.my1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my5 {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* ***** MARGIN LEFT AND RIGHT ***** */
.mx1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx4 {
  margin-left: 16px;
  margin-right: 16px;
}

/* ***** POSITIONING ***** */
.center {
  text-align: center;
}

/* ***** COLOURS ***** */
.white {
  color: white;
}

.primary-color {
  color: #3f51b5;
}

.dark-primary-color {
  color: #303f9f;
}

.light-primary-color {
  color: #c5cae9;
}

.accent-color {
  color: #ff5722;
}

.divider-color {
  color: #bdbdbd;
}

.primary-text {
  color: #212121;
}

.secondary-text {
  color: #757575;
}

/* ***** TEXT ***** */
.bold {
  font-weight: bold;
}

.ln-height1 {
  line-height: 2rem;
}

.font-size1 {
  font-size: 1.2rem;
}
