<section class="product-overview px2">
  <h1 class="center white">How fast can you answer questions on the things you know and love?</h1>
  <h3 class="white center">Answer 10 questions in 10 minutes and stand a chance to be among our 10 lucky
    winners!
  </h3>
  <h3 class="time-table-text center">Everyday (8:00PM - 8:50PM)</h3>
  <p class="white center bold mt2">Want to participate? Click the button below.</p>
  <button class="compete-btn btn white btn-shadow" routerLink="competition/check-status">Compete</button>
</section>
<section id="key-features">
  <h1 class="white m5 center">Many Good Reasons to Compete</h1>
  <ul class="key-features-list">
    <li class="key-feature">
      <div class="key-feature-img">
        <img src="https://img.icons8.com/color/240/000000/prize-money.png" />
      </div>
      <p class="key-feature-description bold white center px3">Winners Get a Prize - Finish In Time and Get A Cash
        Prize.</p>
    </li>
    <li class="key-feature">
      <div class="key-feature-img">
        <img src="https://img.icons8.com/color/240/000000/tap-gesture.png" />
      </div>
      <p class="key-feature-description bold white center px3">It's All About Fastest Fingers - How Fast Can You Click?
      </p>
    </li>
    <li class="key-feature">
      <div class="key-feature-img">
        <img src="https://img.icons8.com/color/240/000000/system-information.png" />
      </div>
      <p class="key-feature-description bold white center px3">The System Decides Winners - No Human Interference.</p>
    </li>
  </ul>
</section>
<app-alert2 *ngIf="showAlert" (dismiss)="onDismissAlert()">
  <div class="ln-height1 font-size1">
    <h2 class="primary-color">Step 1</h2>
    <p>
      Go to the <strong>Account</strong> page and get your referral
      link by clicking on the "Copy Referral Link" button.
    </p>
    <h2 class="primary-color">Step 2</h2>
    <p>
      Share the link along with an explanatory message. You can do
      this via the following ways:
    </p>
    <ul>
      <li>
        Share your referral link on social media. E.g
        WhatsApp, Facebook, Instagram, etc.
      </li>
      <li>
        Send an SMS to your contacts with your referral link.
      </li>
      <li>Send an email to your contacts with your referral link.</li>
    </ul>
    <p>
      With that done, your friend clicks on your referral link, then signs up. The system links them to you as the
      referrer.
    </p>
    <p><strong>
        You get a #25 bonus for each referree. This money would
        accumulate and could be used in participating in WhatsPool.
      </strong></p>
  </div>
</app-alert2>
<section id="referral">
  <div class="center">
    <div class="referral-image-container">
      <img src="https://img.icons8.com/dusk/240/000000/social-network.png" />
    </div>
    <p class="referral-subtitle white bold">Refer a friend to participate in WhatsPool.</p>
  </div>
  <div class="center">
    <p class="referral-description white bold">Get a bonus for each of
      your referrals.
      Click <a class="referral-link accent-color" (click)="onShowAlert()">here</a> to learn the steps.</p>
  </div>
</section>