<div class="card">
  <div class="center">
    <h3>Your Wins</h3>
  </div>
  <hr class="card-title-divider">
  <div class="card-body">
    <div *ngIf="isLoading" class="center">
      <app-in-page-spinner></app-in-page-spinner>
    </div>
    <div *ngIf="!isLoading && wins.length === 0 && !errMsg">
      <h3 class="center">No wins yet.</h3>
    </div>
    <div *ngIf="!isLoading && errMsg">
      <h3 class="center">Error in fetching wins. Please check your network connection.</h3>
    </div>
    <div *ngIf="!isLoading && wins.length > 0">
      <div *ngFor="let win of wins">
        <p><strong>Date:</strong> {{win.date}}</p>
        <p><strong>Position:</strong> {{win.pos}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>