section {
  padding: 2rem;
}

.delete-info {
  padding-top: 5rem;
}

.delete-btn {
  width: 80%;
}

input + span,
select + span {
  display: block;
  font-size: 0.8rem;
  color: red;
}

label,
input,
select,
select + span {
  width: 100%;
  margin-bottom: 0.5rem;
  font: inherit;
}

select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  font-weight: bold;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
  background: #f6c1c1;
}

@media (min-width: 40rem) {
  section {
    width: 40%;
    margin: auto;
  }
}